@import "./Styles";
.manager {
    .manager-title {
        font-size: 34px;
        margin-bottom: 24px;
    }
    .roster {
        .roster-title {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }
}