@import "./Styles";
nav {
    background-color: $light-blue;
    color: $blue;
    margin-bottom: 35px;
    font-family: $secondary-font;
    .app-title {
        margin: 0 0 10px 15px;
        font-weight: 700;
        font-size: 50px;
    }
    .navbar-toggler-right:hover {
        cursor: pointer;
    }
    .navbar-toggler-right:focus {
        outline: none;
    }
    .nav-item {
        .nav-link {
            font-size: 20px;
        }
    }
    .nav-item:hover {
        .nav-link,
        .nav-link:hover {
            color: $blue;
        }
    }
}