@import "./Styles";
.modal {
    .modal-content {
        .modal-header {
            background-color: $light-blue;
            color: $blue;
            font-size: 24px;
            .roster-deleted {
                font-size: 20px;
                font-weight: 700;
            }
        }
        .modal-body {
            .player {
                margin: 10px 0;
                .player-name {
                    font-size: 20px;
                }
            }
        }
        .modal-footer {
            background-color: $blue;
            .btn {
                background-color: $light-purple;
            }
            .fa-trash-alt {
                color: $error;
                margin-left: 20px;
            }
            .fa-trash-alt,
            .btn:hover {
                cursor: pointer;
            }
        }
    }
}