// Fonts
$primary-font: 'News Cycle', sans-serif;
$secondary-font: 'Lobster', sans-serif;
// Colors
$light-purple: #A1ADEE;
$light-blue: #EEF3FA;
// $blue: #090D7A;
$blue: #464BE5;
$grey: #DCE1F3;
$orange: #F9B76D;
$success: #46E5C1;
$error: #FF3333;