# dependencies
/node_modules

# hidden
/.vscode
/server/api/mlab_credentials.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*